/* Reset */
body,figure,img,div,header,nav,main,ul,li,a,p,section,article,h1,h2,footer{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}


/* Esconder figcaption */
figcaption{
    display: none;
}


/* Largura max das imagens */
img{
    max-width: 1280px;
}


/*Corpo da página - Uma cor para a página toda*/
body{
    background-color: #020000;
}


/* Estilização da barra de rolagem */
*{
    scrollbar-width: thin;
    scrollbar-color: #dfdfdf #02000000;
}

*::-webkit-scrollbar {
    width: 9px;
}

*::-webkit-scrollbar-track {
    background: #02000000;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color:  #dfdfdf;
    border-radius: 20px;
}

*::-webkit-scrollbar-corner{
    display: hidden;
}


/* Container para ajustar a página */
.container{
    max-width: 3840px;
    margin: 0 auto;
}


/* Estilo do cabeçalho*/
.cabecalho{
    padding: 11px 0px;
}
 .cabecalho .container{
    display: flex;
    justify-content: space-between;
}


/* Estilo das logos (pequeno/grande) */
.cabecalho .cabecalho__logo{
    padding: 0px 21px;
}

.cabecalho .cabecalho__logo .cabecalho__logo--logoGrande{
    vertical-align: -50%;
    display: none;
}

.cabecalho .cabecalho__logo .cabecalho__logo--logoPequeno{
    width: 30px;
    margin-left: -6px;
}


/* Estilo do menu */
.cabecalho .cabecalho__menuGeral ul{
    margin-left: 20px;
}

.cabecalho .cabecalho__menuGeral li {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    margin-right: 17px;
}

.cabecalho .cabecalho__menuGeral a{
    color: #dfdfdf;
    font-size: 0.85rem;
}


/* Estilo do menu de navegação */
.cabecalho .cabecalho__menuConfiguracao{
    padding-right: 30px;
}

.cabecalho .cabecalho__menuConfiguracao li{
    display: inline-block;
    margin-left: 19px;
    vertical-align: middle;
}

.cabecalho .cabecalho__menuConfiguracao a img{
    border-radius: 4px;
}

.cabecalho, .cabecalho .cabecalho__menuConfiguracao a{
    color: #dfdfdf;
}


/* Estilo do menu lateral direito */
.cabecalho .cabecalho__menuGeral{
    display: none;
}


/* Estilização do conteúdo principal */

/* Estilo da seção destaque */
.secaoDestaque{
    background-image: url(../img/destaque.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 268px 30px 44px;
    width: 100.5%;
}

.secaoDestaque .secaoDestaque__imagemDestaque{
    display: none;
}

.secaoDestaque .secaoDestaque__imagemDestaque img{
    width: 100%;
    max-width: 240px;
}

.secaoDestaque .secaoDestaque__descricaoDestaque{
    color: #dfdfdf;
    text-align: justify;
}

.secaoDestaque .secaoDestaque__descricaoDestaque ul{
    text-align: center;
    margin: 3px 0px 15px 0px;
}

.secaoDestaque .secaoDestaque__descricaoDestaque ul li{
    font-size: 0.68rem;
    display: inline-block;
    padding: 0px 2px;
}

.secaoDestaque .secaoDestaque__descricaoDestaque h1{
    text-align: center;
}

.secaoDestaque .secaoDestaque__descricaoDestaque h1 img{
    width: 100%;
    max-width: 214px;
    margin-left: -8px;
}

.secaoDestaque .secaoDestaque__descricaoDestaque p{
    font-size: 0.9rem;
    text-shadow: 0.1em 0.1em 10px black;
    display: none;
}

.secaoDestaque .secaoDestaque__linksDestaque{
    text-align: center;
}

.secaoDestaque .secaoDestaque__linksDestaque a{
    font-size: 0.7rem;
    background-color: #dfdfdf;
    color: black;
    padding: 8px 14px 5px;
    border-radius: 4px;
    display: inline-block;
    margin: 0px 2px;
    transition: 0.5s
}

.secaoDestaque .secaoDestaque__linksDestaque a:hover{
    background-color: #dfdfdfa4;
}

.secaoDestaque .secaoDestaque__linksDestaque .secaoDestaque__linksDestaque--transparente:hover{
    background-color: #dfdfdf3a;
}

.secaoDestaque .secaoDestaque__linksDestaque a img{
    width: 17px;
    margin-right: 10px;
}

.secaoDestaque .secaoDestaque__linksDestaque strong{
    vertical-align: 4.6px;
}

.secaoDestaque .secaoDestaque__linksDestaque .secaoDestaque__linksDestaque--transparente{
    background-color: #dfdfdf5c;
    color: #dfdfdf;
}


/* Estido da seção filmes */
.secaoFilmes{
    color: #dfdfdf;
    overflow-x: scroll;
    margin-bottom: 32px;
    padding-left: 30px;
    transform: translateY(-15px);
}

.secaoFilmes h2{
    font-size: 0.96rem;
}

.secaoFilmes .secaoFilmes__listaFilmes{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-top: 6px;
}

.secaoFilmes .secaoFilmes__listaFilmes li{
    margin-right: 5px;
}

.secaoFilmes .secaoFilmes__listaFilmes li img{
    border-radius: 4px;
}


/* Estilo do rodapé */
.rodape{
    padding: 0px 30px;
    margin-top: 40px;
    font-size: 0.8rem;
}

.rodape .rodape__midiasSociais ul{
    display: flex;
    flex-wrap: nowrap;
}
.rodape .rodape__midiasSociais ul li{
    margin-right: 25px;
}

.rodape .rodape__navegacaoInfo{
    margin: 11px 0px;
}

.rodape .rodape__navegacaoInfo ul li{
    margin-block: 16px;
}

.rodape .rodape__navegacaoInfo a{
    font-size: 0.8rem;
}

.rodape .rodape__linkCodigo{
    border: 1px solid grey;
    border-radius: 3px;
    padding: 6px 7px;
    display: inline-block;
    margin: 17px 0px 22px 0px;
}
    
.rodape p{
    font-size: 0.7rem;
    margin-bottom: 17px;
}

.rodape, .rodape .rodape__navegacaoInfo ul li a, .rodape .rodape__linkCodigo{
    color: grey;
}


/* Responsividade */
@media screen and (min-width: 425px){
    .secaoDestaque .secaoDestaque__descricaoDestaque h1 img{
        max-width: 240px;
    }
}

@media screen and (min-width: 510px){

    .cabecalho .cabecalho__logo .cabecalho__logo--logoGrande{
        display: inline;
    }

    .cabecalho .cabecalho__logo .cabecalho__logo--logoPequeno{
        display: none;
    }

    .secaoDestaque .secaoDestaque__descricaoDestaque h1 img{
        max-width: 280px;
    }

    .secaoDestaque .secaoDestaque__descricaoDestaque ul li{
        font-size: 0.8rem;
    }

    .secaoDestaque .secaoDestaque__linksDestaque a{
        font-size: 0.74rem;
        padding: 9px 15px 5px;
    }

    .secaoDestaque .secaoDestaque__linksDestaque a img{
        width: 19px;
    }

    .secaoDestaque .secaoDestaque__linksDestaque strong{
        vertical-align: 4.9px;
    }
}

@media screen and (min-width: 632px){

    .secaoDestaque{
        padding-top: 195px;
        padding-bottom: 101px;
    }

    .secaoDestaque .secaoDestaque__descricaoDestaque{
        width: 22rem;
        margin-bottom: 17px;
    }

    .secaoDestaque .secaoDestaque__descricaoDestaque h1{
        text-align: left;
    }

    .secaoDestaque .secaoDestaque__descricaoDestaque p{
        display: inline;
    }

    .secaoDestaque .secaoDestaque__descricaoDestaque ul{
        display: none;
    }

    .secaoDestaque .secaoDestaque__linksDestaque{
        text-align: left;
    }

    .secaoDestaque .secaoDestaque__linksDestaque a{
        font-size: 0.8rem;
        padding: 9px 27px 6px;
    }
}

@media screen and (min-width: 730px){

    .cabecalho .cabecalho__menuGeral{
        display: block;
        flex-grow: 1;
    }

    .secaoDestaque .secaoDestaque__descricaoDestaque{
        width: 22rem;
        margin-bottom: 17px;
    }

    .secaoDestaque .secaoDestaque__descricaoDestaque h1 img{
        max-width: 319px;
        margin-bottom: 4px;
    }

    .secaoDestaque .secaoDestaque__descricaoDestaque p{
        font-size: 1rem;
    }

    .secaoDestaque .secaoDestaque__linksDestaque a{
        font-size: 0.8rem;
        padding: 9px 27px 6px;
    }

    .secaoDestaque .secaoDestaque__linksDestaque a img{
        width: 21px;
        margin-right: 10px;
    }
    
    .secaoDestaque .secaoDestaque__linksDestaque strong{
        vertical-align: 6px;
    }

    .secaoFilmes{
        transform: translateY(-47px);
    }    

    .secaoFilmes h2{
        font-size: 1rem;
    }

    .rodape .rodape__navegacaoInfo{
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (min-width: 1024px){
    
    .secaoDestaque .secaoDestaque__descricaoDestaque{
        width: 24rem;
    }

    .secaoDestaque .secaoDestaque__descricaoDestaque h1 img{
        max-width: 364px;
    }

    .secaoDestaque .secaoDestaque__descricaoDestaque p{
        font-size: 1.1rem;
    }

    .secaoDestaque .secaoDestaque__linksDestaque a {
        font-size: 0.91rem;
    }

    .secaoDestaque .secaoDestaque__linksDestaque a img{
        width: 23px;
    }

}

@media screen and (min-width: 1280px){

    .secaoDestaque{
        padding-bottom: 22%;
    }

    .secaoFilmes{
        transform: translateY(-212px);
    }

    .secaoFilmes h2{
        font-size: 1.3rem;
    }

}

@media screen and (min-width:1570px){

    .secaoFilmes {
        transform: translateY(-250px);
    }
}

@media screen and (min-width:1960px){
    .secaoDestaque {
        padding-bottom: 24%;
    }

    .secaoFilmes {
        transform: translateY(-380px);
    }
}

@media screen and (min-width:2560px){
    
    .secaoDestaque {
        padding-bottom: 29%;
    }

    .secaoFilmes {
        transform: translateY(-620px);
    }
}